<ul class="nav nav-pills flex-column">
  <h2 class="mt-4">Update User</h2>
  <fieldset>
    <div>
      <div>
        <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">First Name</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Last Name</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Email</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Phone</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Country</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">City</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">ZIP</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Street</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Street Number</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
      <div>
        <label class="col-form-label col-form-label-sm mt-2" for="inputSmall">Password</label>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
      </div>
    </div>
    <div class="text-end mt-4">
      <button type="submit" class="btn btn-outline-warning px-5">Update</button>
    </div>
  </fieldset>
</ul>
