<div class="row mt-3 mx-5">

  <div class="d-flex justify-content-between mt-3 mb-3 col-9">
    <span class="h2"> Users </span>
    <button type="button" class="btn btn-outline-warning text-justify mx-4" routerLink="/users/create">
      Create
    </button>
  </div>
  <div class="col-9">
    <app-user-list></app-user-list>
  </div>

  <div class="col-3">
    @if (isCreateMode) {
      <app-user-create></app-user-create>
    } @else if (!userId) {
      <app-user-default-view></app-user-default-view>
    } @else if (!isEditMode) {
      <app-user-details></app-user-details>
    } @else {
      <app-user-update></app-user-update>
    }
  </div>

</div>
