<ul class="nav nav-pills flex-column">
  <h2 class="mt-4 mb-4">November Terra</h2>

  <h6 class="mt-1">Email</h6>
  <strong class="mb-3">nova&#64;starcraft.net</strong>

  <h6 class="mt-1">Phone</h6>
  <strong class="mb-3">+67645158946</strong>

  <h6 class="mt-1">Country</h6>
  <strong class="mb-3">Tarsonis</strong>

  <h6 class="mt-1">City</h6>
  <strong class="mb-3">Korhal District</strong>

  <h6 class="mt-1">ZIP</h6>
  <strong class="mb-3">4227</strong>

  <h6 class="mt-1">Street</h6>
  <strong class="mb-3">Orbital Avenue</strong>

  <h6 class="mt-1">Street Number</h6>
  <strong class="mb-3">64</strong>

  <button type="button" class="btn btn-sm btn-outline-info d-block ms-auto"
  routerLink="/users/27/update">
    Edit
  </button>
</ul>
