<ul class="nav nav-pills flex-column col-12">
  <table class="table table-hover">
    <thead>
    <tr class="table-dark">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col">Shipping Date</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    <tr class="table-default">
      <th>#983243</th>
      <td>Umojan Neuro-Link Headset</td>
      <td>3</td>
      <td>1499$</td>
      <td>4497$</td>
      <td>03/06/2025</td>
      <th scope="col">
        <button type="button" class="btn btn-outline-warning btn-sm">View</button>
      </th>
    </tr>
    </tbody>
  </table>
</ul>
