<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">DETAILS</strong>
  </div>
  <div class="toast-body h6">
    <div>
    Click on an item's
    <button type="button" class="btn btn-primary btn-outline-info btn-sm" style="
      font-size: 0.65rem;
      line-height: 1;">
    View
    </button>
    button to show and edit its details.
    </div>
    <div class="mt-4 mb-2">
      Click on the
      <button type="button" class="btn btn-primary btn-outline-warning btn-sm" style="
      font-size: 0.65rem;
      line-height: 1;">
        Create
      </button>
      button to create a new item.
    </div>
  </div>
</div>
